body {
 margin:0;
  background: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
 }
  .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  }
.data {
  min-width: 1080px ; 
  margin: 0 auto ; 
  font-family: "Courier New", Courier, monospace  ;
}	  
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  top: 0;
  width: 100%
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar .lang {
  float: right;
  margin-right: 15px;
}
.navbar .fit{
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  }
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover  .dropbtn, .dropbtn:focus {
  background-color: yellow;
  color: black;
}
.dropdown-content {	
  display: none;
  position: fixed;
  background-color: #f9f9f9;
  min-width: 50px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #ddd;
  
}
.show {
  display: block;
}
 .header {
  max-width: 1080px;
  margin-top:50px;
  margin-left: auto;
  margin-right: auto;
  }
 .content {
  width:95%;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  }
img { 
text-align: center;
  width: 100%;
  max-width: 1080px;
}
 h1 {
  font-size: 1.5em;
  border-bottom: 1.5px solid black;
}
h2 {
 font-size: 1.2em;
}
h2 a {
     text-decoration: none;
}
h2 a {
	color: #fff;
}
h2 a:link {
	color: #fff;
}
h2 a:visited {
	color: #fff;
}
h2 a:hover {
	color: #ffe404;
}
h2 a:active {
	color: #fff;
}
