body {
 margin:0;
  background: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
 }
 span{
 white-space: nowrap;	 
 font-size: .8em
 }
  .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  }
  
.data {
  float: left;
  padding-top:10px;
  padding-left:10px;
  padding-right: 5px;
	min-width:830px;
max-width:73%;
  margin: 0 auto ; 
  font-family: "Courier New", Courier, monospace  ;
}	
.bookmark {
  float: left;
  padding-top: 9px;
  padding-left: 5px;
  max-width:22%;
  margin: 0 auto ; 
}
.bookmark .quick{
 overflow-x: scroll;
}

.footer{
width: 100%;
float:left; 
text-align:center; 
line-height:1; 
font-size:.85em;
font-weight: bold;
}
.footer a{
	text-decoration: none;
  }
.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  top: 0;
  width: 100%
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar .lang {
  float: right;
  margin-right: 5px;
}
.navbar .fit{
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  }
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover  .dropbtn, .dropbtn:focus {
  background-color: yellow;
  color: black;
}
.dropdown-content {	
  display: none;
  position: fixed;
  background-color: #f2f2eb;

  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
 .lang .dropdown-content{
  max-height: 50%; 
  min-width: 230px; 
  overflow-x: hidden;
  overflow-y: scroll;
} 

 .lang .dropdown-content a {
 font-size: 11px;
  background-color: #fff;
} 
 .lang .dropdown-content p {
  float: none;
  color: black;
  font-weight: bold;
  margin: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
 font-size: 12px;
} 

.dropdown-content a:hover {
  background-color: #ddd;
  
}
.show {
  display: block;
}
 .header {
  max-width: 1080px;
  margin-top:50px;
  margin-left: auto;
  margin-right: auto;
  }
 .content {
  width:95%;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  }
img { 
text-align: center;
  width: 100%;
  max-width: 1080px;
}
 h1 {
  font-size: 1.5em;
  border-bottom: 1.5px solid black;
}
 h2 {
  font-size: 1.3em;
  border-bottom: 1.4px solid black;
}
.bookmark a {
	display: block	;
    text-decoration: none;
}
.bookmark p {
	margin: 5px 0;
}
.bookmark  a:link {
	color: blue;
}
.bookmark  a:visited {
	color: purple;
}
.bookmark  a:hover {
	color: red;
}
.bookmark  a:active {
	color: red;
}
